<div class="row form-container">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <label for="">
      <h2>Sign In</h2>
    </label>
    <form #f='ngForm' (ngSubmit)='signIn(f)'>
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="email" id="email" email=true class="form-control" required [(ngModel)]="model.email" name="email" #email="ngModel">
      </div>
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
        Invalid Email !
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input required type="password" id="password" name="password" class="form-control" required [(ngModel)]="model.password"
          name="password" #password="ngModel" minlength="6">
      </div>
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
        Password is minimum 6 symbols !
      </div>
      <button class="btn-success mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" [disabled]='f.invalid'>Sign In</button>
    </form>
  </div>
</div>